<div class="socialMedia">
  <a href="https://www.facebook.com/">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  <a href="https://twitter.com/">
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </a>
  <a href="https://www.youtube.com/">
    <i class="fa fa-youtube" aria-hidden="true"></i>
  </a>
  <a href="https://www.twitch.tv/">
    <i class="fa fa-twitch" aria-hidden="true"></i>
  </a>
  <a href="https://www.reddit.com/">
    <i class="fa fa-reddit" aria-hidden="true"></i>
  </a>
</div>
<div class="footMenuBar">
  <ul class="footMenu">
    <li class="footMenuItem">
      <a href="/">Home</a>
    </li>
    <!--<li class="footMenuItem">
      <a href="#">Videos</a>
    </li>-->
    <li class="footMenuItem">
      <a href="/stream">Stream</a>
    </li>
    <!--<li class="footMenuItem">
      <a href="#">Blog</a>
    </li>-->
    <li class="footMenuItem">
      <a href="/about">About</a>
    </li>
    <!--<li class="footMenuItem">
      <a href="#">Contact</a>
    </li>-->
  </ul>
</div>
