<meta charset="UTF-8">
<title>Rematch Gaming</title>
<script type="text/javascript" src="https://use.fontawesome.com/22abcc1ddf.js"></script>
<link rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet", href="stylesheets/styleMain.css", type="text/css">
