body {
  margin: 0px;
  font-family: sans-serif;
}


.outerContainer {
  width: 1280px;
  margin: auto;
  overflow: hidden;
  background: lightgray;
}

/* Header -------------------*/
.header {
  background: lightblue;
  width: 99%;
  margin: auto;
}
.headerImage {
  background: gray;
  width: 99%;
  height: 180px;
  margin: auto;
  text-align: center;
}
.headerImage > a > img {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}
/* Header Menu Bar -----------*/
.menuBar {
  background: darkgray;
  width: 99%;
  margin: auto;
}
.menuNav {
  text-align: center;
  overflow: hidden;
}
.menuMain {
  padding: 0px;
  list-style: none;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 800;
  letter-spacing: .085em;
  color: gray;
}
.menuItem {
  display: inline-block;
}
.menuItem > a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 15px;
}

/* Show Case ----------------*/
.showCaseWrapper {
  background: pink;
  width: 99%;
  margin: 2% auto;
}
.showCase {
  background: gray;
  min-width: 100%;
  border-radius: 5px;
  margin: auto;
}
/* Slideshow ---------------------*/
.mySlides {
  display: none;
}
.w3-left, .w3-right, .w3-badge {
  cursor: pointer;
}
.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

/* Main Content -------------------*/
.contentMain {
  background: lightblue;
  width: 99%;
  overflow: hidden;
  margin: auto;
}
.fContentWrapper {
  background: lightgreen;
  width: 45.5%;
  margin: 2% 2% 2% 2%;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}
.featuredContent {
  margin: 10% auto;
  background: darkgray;
}
.contentImageWrapper {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}
.contentImageWrapper > img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.contentInfoWrapper {
  padding: 8px 10px;
}
.contentInfoWrapper > h3 {
  margin: 5px 0 5px;
  line-height: 1.2;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.contentInfoWrapper > span {
  padding: 2px;
  font-size: 10px;
  margin: 0;
  line-height: 1;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Footer Bar ------------------------*/
.footer {
  background: pink;
  width: 99%;
  margin: auto;
}
/* Social ---------------------*/
.socialMedia {
  background: lightyellow;
  width: 99%;
  margin: auto;
  padding: 15px;
  text-align: center;
}
.socialMedia > a {
  background: darkgray;
  margin: 0 1.25%;
  width: 54px;
  height: 54px;
  font-size: 25px;
  display: inline-block;
  text-align: center;
  border-radius: 5px 20px;
}
.socialMedia > a > i {
  line-height: 54px;
}
/* Foot Menu ---------------------------*/
.footMenuBar {
  background: lightblue;
  width: 99%;
  margin: auto;
  text-align: center;
}
.footMenu {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0px;
  padding: 20px 0px 130px 0px;
}
.footMenuItem {
  display: inline-block;
}
.footMenuItem:not(:first-child):before {
  content: "/";
}
.footMenuItem > a {
  line-height: 3;
  font-weight: 500;
  text-decoration: none;
  font-size: 12pt;
}

/* Stream Page ------------------*/
.streamMainWrapper {
  background: lightgreen;
  text-align: center;
  width: 99%;
  margin: auto;
}
.streamTwitchWrapper {
  background: pink;
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}
.streamTwitch {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.streamChatWrapper {
  background: darkgray;
  display: inline-block;
}
.streamTwitchChat {
  height: 500px;
  width: 350px;
  margin: 15px;
  display: inline-block;
}
.streamSchedule {
  margin: 15px;
  vertical-align: top;
  display: inline-block;
}

/* About Page ------------------*/
.aboutWrapper {
  background: lightgreen;
  margin: auto;
  width: 99%;
  padding: 2%;
  text-align: center;
}
.aboutGamer {
  background: pink;
  height: auto;
  width: 374px;
  display: inline-block;
  margin: 1%;
  text-align: center;
  border-radius: 3px;
}
.aboutGamer > img {
  margin: 2%;
  height: 350px;
  width: 350px;
  border-radius: 3px;
}
.aboutGamer > span {
  font-size: 25pt;
  transform: uppercase;
}
.aboutGamer > p {
  margin: 2%;
}
.aboutGamerSocial {
  background: lightyellow;
  margin: 2%;
}
.aboutGamerSocial > a {

}

/* Media Queries -------------------------------*/
@media only screen and (max-width : 1280px),
only screen and (max-device-width : 1280px){
  .outerContainer {width: 100%;}
}
@media only screen and (max-width : 760px),
only screen and (max-device-width : 760px){
  .fContentWrapper {
    width: 96%;
  }
  .menuItem {
    display: block;
  }
}
@media only screen and (max-width : 530px),
only screen and (max-device-width : 530px){
  .socialMedia > a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 21px;
    border-radius: 3px 12px;
  }
  .socialMedia > a > i {
    line-height: 35px;
  }
  .footMenuItem {
    display: block;
  }
  .footMenuItem:not(:first-child):before {
    content: none;
  }
}




