body {
  background: #191919;
}

.outerContainer {
  background: #191919;
}

.header {
  background: #191919;
  width: 100%;
}

.headerImage {
  background: #191919;
  width: 100%;
}


.menuBar {
  background: #191919;
  width: 100%;
}

.menuMain {
  color: #999;
}

.showCaseWrapper {
  background: black;
  width: 100%;
}

.showCase {
  background: white;
  min-width: 100%;
}

.contentMain {
  background: #191919;
  width: 100%;
}

.fContentWrapper {
  background: #191919;
}

.fContentWrapper > h3 {
  color: #999;
}

.featuredContent {
  background: #222;
  color: #999;
  padding: 5px;
}

.footer {
  background: #191919;
  width: 100%;
}

.socialMedia {
  background: #191919;
  width: 100%;
}

.socialMedia > a {
  background: #999;
}

.footMenuBar {
  background: #191919;
  width: 100%;
}

.footMenuItem > a {
  color: #999;
}

.streamMainWrapper {
  background: #191919;
  width: 100%;
}

.streamTwitchWrapper {
  background: #191919;
}

.streamChatWrapper {
  background: #191919;
}

.aboutWrapper {
  background: #191919;
  width: 100%;
}

.aboutGamer {
  background: #999;
}

.aboutGamerSocial {
  background: #999;
}
