<!doctype>

<link rel="stylesheet", href="stylesheets/styleMain.css", type="text/css">


<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="outerContainer">
      <div class="header">
        <% include ../partials/header %>
      </div>
        
      <div class="contentMain">
        <h4 style="text-align: center">The About Page</h4>
        <div class="aboutWrapper">
          <div class="aboutGamer">
            <img src="images/genderlizard_icon.png">
            <span>GenderLizard</span>
            <p>Hi my name is Shawn. I've been playing PC games since I was 
            very young. I remember playing the doom clone that they put in 
            the chex cerial boxes. Even before that, math blaster altough
            educational, was exciting to me at the time. Now days I spend
            most of my play time in fast paced FPS games. Primarily Dirty 
            Bomb.
            </p>
            <div class="aboutGamerSocial">
              <a href="#">Twitter</a>
              <a href="#">YouTube</a>
              <a href="#">Twitch</a>
            </div>
          </div>
          <div class="aboutGamer">
            <img src="images/genderlizard_icon.png">
            <p>Hi my name is Shawn. I've been playing PC games since I was 
            very young. I remember playing the doom clone that they put in 
            the chex cerial boxes. Even before that, math blaster altough
            educational, was exciting to me at the time. Now days I spend
            most of my play time in fast paced FPS games. Primarily Dirty 
            Bomb.
            </p>
            <div class="aboutGamerSocial">
              <a href="#">Twitter</a>
              <a href="#">YouTube</a>
              <a href="#">Twitch</a>
            </div>
          </div>
          <div class="aboutGamer">
            <img src="images/genderlizard_icon.png">
            <p>Hi my name is Shawn. I've been playing PC games since I was 
            very young. I remember playing the doom clone that they put in 
            the chex cerial boxes. Even before that, math blaster altough
            educational, was exciting to me at the time. Now days I spend
            most of my play time in fast paced FPS games. Primarily Dirty 
            Bomb.
            </p>
            <div class="aboutGamerSocial">
              <a href="#">Twitter</a>
              <a href="#">YouTube</a>
              <a href="#">Twitch</a>
            </div>
          </div>
          <div class="aboutGamer">
            <img src="images/genderlizard_icon.png">
            <p>Hi my name is Shawn. I've been playing PC games since I was 
            very young. I remember playing the doom clone that they put in 
            the chex cerial boxes. Even before that, math blaster altough
            educational, was exciting to me at the time. Now days I spend
            most of my play time in fast paced FPS games. Primarily Dirty 
            Bomb.
            </p>
            <div class="aboutGamerSocial">
              <a href="#">Twitter</a>
              <a href="#">YouTube</a>
              <a href="#">Twitch</a>
            </div>
          </div>
          <div class="aboutGamer">
            <img src="images/genderlizard_icon.png">
            <p>Hi my name is Shawn. I've been playing PC games since I was 
            very young. I remember playing the doom clone that they put in 
            the chex cerial boxes. Even before that, math blaster altough
            educational, was exciting to me at the time. Now days I spend
            most of my play time in fast paced FPS games. Primarily Dirty 
            Bomb.
            </p>
            <div class="aboutGamerSocial">
              <a href="#">Twitter</a>
              <a href="#">YouTube</a>
              <a href="#">Twitch</a>
            </div>
          </div>
          <div class="aboutGamer">
            <img src="images/genderlizard_icon.png">
            <p>Hi my name is Shawn. I've been playing PC games since I was 
            very young. I remember playing the doom clone that they put in 
            the chex cerial boxes. Even before that, math blaster altough
            educational, was exciting to me at the time. Now days I spend
            most of my play time in fast paced FPS games. Primarily Dirty 
            Bomb.
            </p>
            <div class="aboutGamerSocial">
              <a href="#">Twitter</a>
              <a href="#">YouTube</a>
              <a href="#">Twitch</a>
            </div>
          </div>
          <div class="aboutGamer">
            <img src="images/genderlizard_icon.png">
            <p>Hi my name is Shawn. I've been playing PC games since I was 
            very young. I remember playing the doom clone that they put in 
            the chex cerial boxes. Even before that, math blaster altough
            educational, was exciting to me at the time. Now days I spend
            most of my play time in fast paced FPS games. Primarily Dirty 
            Bomb.
            </p>
            <div class="aboutGamerSocial">
              <a href="#">Twitter</a>
              <a href="#">YouTube</a>
              <a href="#">Twitch</a>
            </div>
          </div>
          <div class="aboutGamer">
            <img src="images/genderlizard_icon.png">
            <p>Hi my name is Shawn. I've been playing PC games since I was 
            very young. I remember playing the doom clone that they put in 
            the chex cerial boxes. Even before that, math blaster altough
            educational, was exciting to me at the time. Now days I spend
            most of my play time in fast paced FPS games. Primarily Dirty 
            Bomb.
            </p>
            <div class="aboutGamerSocial">
              <a href="#">Twitter</a>
              <a href="#">YouTube</a>
              <a href="#">Twitch</a>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <% include ../partials/footer  %>
      </div>
    </div>
  </body>
</html>
