<!doctype html>

<link rel="stylesheet", href="stylesheets/styleMain.css", type="text/css">


<html>
  <head>
    <title>Rematch Gaming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="outerContainer">
      <div class="header">
      </div>

      <div class="contentMain">
        <h4 style="text-align: center">The Stream Page</h4>
        <div class="streamMainWrapper">
          <div class="streamTwitchWrapper">
            <iframe class="streamTwitch"
              src="https://player.twitch.tv/?channel=rematch_gaming" 
              frameborder="0" 
              allowfullscreen="true" 
              scrolling="no">
            </iframe>
          </div>
          <div class="streamChatWrapper">
            <iframe class="streamTwitchChat"
              src="https://www.twitch.tv/rematch_gaming/chat?popout=" 
              frameborder="0" 
              scrolling="no">
            </iframe>
          </div>
        </div>
        <div class="streamSchedule"></div>
      </div>

      <div class="footer">
      </div>
    </div>
  </body>
</html>
